//layuout + padding
$maxWidth: 1550;

@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../font/#{$file_name}.woff") format("woff"),
        url("../font/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@mixin md {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin md-min {
    @media (min-width: 768px) {
        @content;
    }
}
@mixin desktop-min {
    @media (min-width: $maxWidth + px) {
        @content;
    }
}

@mixin lg {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin dt {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

@include font("Inter","Inter-Regular","400","normal");
@include font("Inter","Inter-SemiBold","600","normal");

@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
    @include desktop-min {
        font-size: #{$pcSize + px};
    }
}