.svg-arrow-up-right-dims { width: 24px; height: 24px; }
.svg-basics-dims { width: 60px; height: 60px; }
.svg-for-developers-dims { width: 60px; height: 60px; }
.svg-integrate-dims { width: 60px; height: 60px; }
.svg-use-cases-dims { width: 60px; height: 57px; }
.svg-validate-dims { width: 60px; height: 57px; }