@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../font/Inter-Regular.woff") format("woff"), url("../font/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../font/Inter-SemiBold.woff") format("woff"), url("../font/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font: 1em monospace, monospace;
}

a {
  background: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font: 1em monospace, monospace;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font: 100%/1.15 inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font: 400 16px/1.3 "Inter", Arial, Helvetica, sans-serif;
  color: #828282;
  overflow-x: hidden;
}

.button-reset {
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.container {
  max-width: 1246px;
  margin: 0 auto;
  padding: 0 15px;
}

.svg-arrow-up-right-dims {
  width: 24px;
  height: 24px;
}

.svg-basics-dims {
  width: 60px;
  height: 60px;
}

.svg-for-developers-dims {
  width: 60px;
  height: 60px;
}

.svg-integrate-dims {
  width: 60px;
  height: 60px;
}

.svg-use-cases-dims {
  width: 60px;
  height: 57px;
}

.svg-validate-dims {
  width: 60px;
  height: 57px;
}

.footer {
  background: #313845;
  padding: 60px 0 35px;
}

.footer__top {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__item:first-child {
  margin-right: 10%;
}

.footer__item:last-child {
  margin-right: 14%;
}

.footer__title {
  color: #fff;
  font-size: 23px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 20px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__list-item + .footer__list-item {
  margin-top: 8px;
}

.footer__list-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ADAFB5;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.footer__list-item a:hover {
  color: #fff;
}

.footer__list-item--dc svg,
.footer__list-item--tg svg {
  margin-left: 5px;
}

.footer__list-item--dc svg use,
.footer__list-item--tg svg use {
  text-decoration: none;
  -webkit-transition: stroke 0.2s ease-in;
  -o-transition: stroke 0.2s ease-in;
  transition: stroke 0.2s ease-in;
}

.footer__list-item--dc svg use,
.footer__list-item--tg svg use {
  stroke: #ADAFB5;
}

.footer__list-item--dc:hover svg use {
  stroke: #C687DD;
}

.footer__list-item--dc:hover a {
  color: #C687DD;
}

.footer__list-item--tg:hover svg use {
  stroke: #77BAE0;
}

.footer__list-item--tg:hover a {
  color: #77BAE0;
}

.main-blocks {
  margin: 50px auto;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(178px, 1fr);
  grid-gap: 20px;
}

.main-blocks__item {
  padding: 28px;
  border: 2px solid;
  position: relative;
  min-height: 175px;
}

.main-blocks__item--basics {
  border-color: #4BBC24;
}

.main-blocks__item--developers {
  border-color: #9B51E0;
}

.main-blocks__item--coming-soon {
  border-color: rgba(38, 38, 38, 0.3);
  pointer-events: none;
}

.main-blocks__item:nth-child(4) {
  grid-row-start: 2;
  grid-column: 1/span 6;
}

.main-blocks__item:nth-child(5) {
  grid-row-start: 2;
  grid-column: 7/span 6;
}

.main-blocks__item:nth-child(-1n+3) {
  grid-column: span 4;
}

.main-blocks__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-blocks__inner-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.main-blocks__inner-top svg {
  margin-right: 30px;
  width: 60px;
  height: 60px;
}

.main-blocks__title {
  margin: 0;
  color: #262626;
  font-size: calc(18px + 5 * ((100vw - 320px) / 1230));
  font-optical-sizing: auto;
}

.main-blocks__item--coming-soon .main-blocks__title {
  color: #828282;
  opacity: 0.9;
}

.main-blocks__item--coming-soon::after {
  background: #F2C94C;
  content: "Coming soon";
  position: absolute;
  top: -2px;
  right: -2px;
  padding: 0.6em 1em;
  font-weight: 400;
  text-transform: uppercase;
  color: #262626;
  font-size: calc(12px + 3 * ((100vw - 320px) / 1230));
}

.main-blocks__inner-text {
  font-size: calc(12px + 4 * ((100vw - 320px) / 1230));
}

@supports (-webkit-appearance:none) {

}

@media (min-width: 1550px) {
  .main-blocks__title {
    font-size: 23px;
  }

  .main-blocks__item--coming-soon::after {
    font-size: 15px;
  }

  .main-blocks__inner-text {
    font-size: 16px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 768px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__item {
    margin-bottom: 25px;
  }

  .main-blocks {
    display: block;
  }

  .main-blocks__item + .main-blocks__item {
    margin-top: 20px;
  }

@supports (-webkit-appearance:none) {

}
}